/* HEADER */

@media all and (max-width: 1023px) {
    body {
        margin: 0;
    }
    header {
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }
    header img {
        padding: 0 !important;
        margin-left: 40px;
        width: auto;
        height: 70px;
    }
    nav {
        flex-basis: 100%;
        order: 2;
        display: flex;
    }
    nav li {
        width: 80px;
        border-top: none;
        text-align: center;
    }
    nav ul {
        width: 100%;
    }
    .head-heber,
    .head-act {
        width: 48%;
        text-align: center;
        padding: 16px 0;
        border-bottom: 3px solid #f2f2f2;
        margin-bottom: -2px;
    }
    nav ul .head-heber a,
    nav ul .head-act a {
        text-align: center;
        justify-content: space-between;
    }
    nav ul .head-heber a {
        padding-right: 80px;
        padding-left: 20px;
    }
    nav ul .head-act a {
        padding-right: 40px;
    }
    .head-heber:hover,
    .head-act:hover,
    #sign-in:hover {
        border-bottom: solid 5px #0065fc;
    }
    nav ul li a:hover {
        border-top: hidden;
        padding-top: 0px;
    }
    nav li a {
        margin-right: 30px;
        padding-left: 50px;
        font-size: 2rem;
    }
    header nav {
        position: relative;
    }
    #sign-in {
        right: 0;
        position: absolute;
        top: -65px;
    }
    .title {
        order: 3;
        margin: 20px 0 0;
    }
    .title h1 {
        font-size: 3rem;
        margin: 20px 50px 20px;
    }
    .title p {
        font-size: 1.5rem;
        margin: 10px 50px 40px;
    }
}


/* SEARCH */

@media all and (max-width: 1023px) {
    .search-bar {
        margin: 5px 5px 5px 5px;
    }
    .search-bar p {
        font-size: 1.3rem;
        margin: 0 0 35px 10px;
    }
    .search {
        margin-bottom: 10px;
        justify-content: center;
    }
    .city {
        width: 500px;
        height: 80px;
        font-size: 1.5rem;
    }
    .buttonsearch {
        display: block;
        width: 80px;
        height: 80px;
        border: none;
        border-radius: 10px;
        background-color: #0065fc;
        color: white;
    }
    .buttonsearch span {
        visibility: hidden;
    }
    .buttonsearch .fa-search {
        visibility: visible;
        padding-bottom: 15px;
        color: white;
    }
    .buttonsearch .fa-search:hover {
        color: #0065fc;
        background-color: #deebff;
        border: 1px solid #0065fc;
    }
    .fa-search,
    .fa-map-marker-alt {
        font-size: 2rem;
    }
    .fa-map-marker-alt {
        padding: 20px 30px;
    }
    .filter {
        padding: 0 10px 0 20px;
        margin: 10px;
    }
    .filter button {
        margin: 0 30px 12px 0;
        font-size: 1.7rem;
    }
    .filter h2 {
        flex-basis: 100%;
        font-size: 1.5rem;
    }
}


/* Hébergements */

@media all and (min-width: 767px) and (max-width: 1023px) {
    small {
        margin: 0 20px;
    }
    .container-results {
        flex-direction: column-reverse;
        max-height: none;
    }
    .popular {
        width: auto;
        margin: 0;
        border-radius: 0;
        padding: 20px;
    }
    .popular h2 {
        padding-bottom: 25px;
        font-size: 2rem;
    }
    .popular .containercard {
        margin: 0 20px;
    }
    .popular .cardlink {
        margin: 5px 0;
    }
    .results {
        background: none;
    }
    .results h2 {
        padding: 0;
        margin-left: 20px;
        font-size: 2rem;
    }
    .more {
        padding-top: 10px;
        margin-left: 20px;
        font-size: 1.4rem;
    }
    .cardmain img {
        width: 940px;
        height: 300px;
    }
    .results .cardlink {
        margin: 6px 0;
    }
    .card h4 {
        font-size: 1.8rem;
    }
    .card p {
        font-size: 1.4rem;
        margin: 25px 0;
    }
    .star {
        font-size: 1.5rem;
    }
    .popular .star {
        margin-top: 130px;
    }
}

@media all and (min-width: 1024px) and (max-width: 1200px) {
    .popular {
        align-items: center;
    }
    .cardpopular {
        width: 316px;
    }
    .popular .cardlink {
        margin: 5px;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .popular {
        align-items: flex-start;
    }
    .popular .containercard {
        flex-direction: row;
        justify-content: flex-start;
        margin: 0;
    }
    .popular .cardlink {
        margin: 5px 10px;
    }
    .popular h2 {
        margin-left: 10px;
    }
    .popular .fa-chart-line {
        margin-left: 20px;
    }
    .results {
        align-self: center;
    }
    .results .containercard {
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
    }
    .cardpopular {
        width: 900px;
        height: 300px;
    }
    .popular img {
        width: 300px;
        height: 300px;
    }
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .popular {
        padding: 40px 20px;
        width: max-content;
        margin: auto;
    }
    .results {
        margin: 0;
        padding-left: 12px;
    }
    .cardpopular {
        width: 306px;
    }
    .popular .fa-chart-line {
        margin-left: 100px;
    }
    .imgmain {
        width: 306px;
    }
}

@media all and (min-width: 1170px) {
    .cardmain img {
        width: 230px;
    }
}


/* Activités */

@media all and (max-width: 1200px) {
    #activities img {
        width: 220px;
    }
}

@media all and (min-width: 1700px) {
    #activities img {
        width: 400px;
    }
}

@media all and (max-width: 1023px) {
    #activities h2 {
        font-size: 2rem;
        margin: 30px 0 30px 20px;
    }
    .content-activities {
        flex-direction: column;
        margin: 20px;
    }
    #activities img {
        width: 930px;
        height: 300px;
        object-fit: cover;
    }
    .card-activities h4 {
        font-size: 2rem;
    }
}


/* Footer */

@media all and (max-width: 1023px) {
    .footer-container {
        flex-direction: column;
        margin-left: 20px;
    }
    footer h3 {
        font-size: 3rem;
    }
    footer a {
        font-size: 1.5rem;
    }
    footer ul li {
        padding: 20px 0;
    }
}