    /* HEADER */
    
    @media all and (max-width: 1023px) {
        body {
            margin: 0;
        }
        header {
            justify-content: space-between;
            align-items: center;
            margin-top: 30px;
        }
        header img {
            padding: 0 !important;
            margin-left: 40px;
        }
        nav {
            flex-basis: 100%;
            order: 2;
            display: flex;
        }
        nav li {
            width: 80px;
            border-top: none;
            text-align: center;
        }
        nav ul {
            width: 100%;
        }
        .head-heber,
        .head-act {
            width: 48%;
            text-align: center;
            padding: 16px 0;
            border-bottom: 3px solid #f2f2f2;
        }
        nav ul .head-heber a,
        nav ul .head-act a {
            text-align: center;
            justify-content: space-between;
        }
        nav ul .head-heber a {
            padding-right: 80px;
            padding-left: 20px;
        }
        nav ul .head-act a {
            padding-right: 40px;
        }
        nav ul li:hover {
            border-bottom: solid 3px #0065fc;
        }
        nav ul li a:hover {
            border-top: hidden;
        }
        nav li a {
            margin-right: 30px;
            padding-left: 50px;
        }
        header nav {
            position: relative;
        }
        #sign-in {
            right: 0;
            position: absolute;
            top: -65px;
        }
        .title {
            order: 3;
            margin: 20px 0 0;
        }
        .title h2 {
            font-size: 20px;
        }
        .title p {
            font-size: 14px;
            margin: 10px 50px 10px;
        }
    }
    
    @media all and (max-width: 767px) {
        .title h2 {
            margin: 20px 50px 0;
        }
    }
    /* SEARCH */
    
    @media all and (max-width: 1023px) {
        .search-bar {
            margin: 5px 5px 5px 5px;
        }
        .search {
            margin: 5px 40px 0 40px;
        }
        .city {
            width: auto;
        }
        .buttonsearch {
            display: block;
            width: 50px;
            height: 50px;
            border: none;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: #0065fc;
            color: white;
        }
        .buttonsearch span {
            visibility: hidden;
        }
        .buttonsearch .fa-search {
            visibility: visible;
            padding-bottom: 15px;
            color: white;
        }
        .buttonsearch .fa-search:hover {
            color: #0065fc;
            background-color: #deebff;
            border: 1px solid #0065fc;
        }
        .filter {
            padding: 0 10px 0 20px;
        }
        .filter button {
            margin: 0 30px 12px 0;
            font-size: 0.9rem;
        }
        .filter h2 {
            flex-basis: 100%;
        }
        .filter {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }
    /*section lodging*/
    
    @media all and (max-width: 1023px) {
        small {
            margin: 0 20px;
        }
        .container-results {
            flex-direction: column-reverse;
            max-height: none;
        }
        .popular {
            width: auto;
            margin: 0;
            border-radius: 0;
        }
        .popular h2 {
            padding-bottom: 26px;
        }
        .popular .containercard {
            margin: 0 20px;
        }
        .popular .cardlink {
            margin: 5px 0;
        }
        .results {
            background: none;
        }
        .results h2 {
            padding: 0;
            margin-left: 20px;
        }
        .more {
            padding: 0;
            margin-left: 20px;
        }
        .cardmain img {
            width: 326px;
            height: 114px;
        }
        .results .cardlink {
            margin: 6px 0;
        }
    }
    
    @media all and (min-width: 1024px) and (max-width: 1200px) {
        .popular {
            align-items: center;
        }
        .cardpopular {
            width: 316px;
        }
        .popular .cardlink {
            margin: 5px;
        }
    }
    
    @media all and (min-width: 768px) and (max-width: 1200px) {
        .popular {
            align-items: flex-start;
        }
        .popular .containercard {
            flex-direction: row;
            justify-content: flex-start;
            margin: 0;
        }
        .popular .cardlink {
            margin: 5px 10px;
        }
        .popular h2 {
            margin-left: 10px;
        }
        .popular .fa-chart-line {
            margin-left: 20px;
        }
        .results {
            align-self: center;
        }
        .results .containercard {
            justify-content: space-between;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    
    @media all and (min-width: 375px) and (max-width: 767px) {
        .popular {
            padding: 40px 20px;
            width: max-content;
            margin: auto;
        }
        .results {
            margin: 0;
            padding-left: 12px;
        }
        .cardpopular {
            width: 306px;
        }
        .popular .fa-chart-line {
            margin-left: 100px;
        }
        .imgmain {
            width: 306px;
        }
    }
    
    @media all and (min-width: 1440px) {
        .cardmain img {
            width: 240px;
        }
    }