body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    margin: 20px;
    display: block;
}

/* HEADER */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    max-height: 50px;
}

ul {
    padding:0;
    margin:0;
    }
   
ul li {
    display:block;
    float: left;  
    width:120px;
    line-height:50px; 
    text-align:center;
    }

nav a {
    color: black;
    text-decoration: none;
    }    
   
#sign-in {
    color: blue;
    font-weight: bold;
}

 h1{
    font-size: 18px;
}

/* SEARCH */

.search-bar 
{
    margin-bottom: 35px;
}
.search 
{
    display: flex;
    margin-bottom: 35px;
}
.fa-map-marker-alt 
{
    padding: 16px 20px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.city 
{
    width: 250px;
    height: 50px;
    border: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    list-style-type: none;
    text-decoration: none;
}
.buttonsearch 
{
    background: transparent;
    border: none;
    width: 150px;
    height: 50px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065fc;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

/* FILTER */

.filter 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.filter h2
{
    margin-right: 30px;
    margin-left: 30px;
    font-size: 1rem;
    font-weight: bolder;
}
.filter button 
{
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    padding: 0 20px 0 0;
    margin-right: 25px;
    background-color: white;
}
.filter .icon, p .icon
{
    display: flex;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    background-color: #deebff;
    border-radius: 50px;
    color: #0065fc;
}

.fa-info {
    height: 25px;
    width: 25px;
    color: #0065fc;
    background-color: #deebff;
    border: 1px solid #f2f2f2;
    border-radius: 100%;
    align-items: center;
    padding-top: 5px;
    margin-right: 15px;
}

.search-bar p {
    text-align: center;
    font-size: 0.75rem;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
}
