body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    margin: 10px;
    display: block;
}

/* HEADER */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    max-height: 50px;
}

ul {
    padding:0;
    margin:0;
    }
   
ul li {
    display:block;
    float: left;  
    width:120px;
    line-height:50px; 
    text-align:center;
    }
   

#hotels {
    color: blue;
}

#sign-in {
    color: blue;
    font-weight: bold;
}

 h1{
    font-size: 18px;
}

.search {
    border-collapse: collapse;
    height: 20px;
    margin: 10px;
}
.fa-map-marker-alt {
    background-color: #F2F2F2;
}

button {
    background-color: #0065FC;
    color: white;
}

.filter {
    border-collapse: collapse;
    height: 12px;
    margin: 10px;
    background-color: #DEEBFF;

}

/* SEARCH */

.search-bar 
{
    margin-bottom: 35px;
}
.search 
{
    display: flex;
    margin-bottom: 3%;
}
.fa-map-marker-alt 
{
    padding: 24px 20px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.city 
{
    width: 250px;
    height: 50px;
    border: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    list-style-type: none;
    text-decoration: none;
}
.buttonsearch 
{
    background: transparent;
    border: none;
    width: 150px;
    height: 50px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065fc;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

/* FILTER */

